
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%; 
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}


main {
    flex-grow: 1;
    padding: 20px;
}
 main p {
    margin-bottom: 1.5em;
    line-height: 1.6;
 }

header {
    position: relative;
    width: 100%;
    min-height: 300px;
    height: 45vh; /* reageert op schermhoogte */
    max-height: 600px;

    background-image: url("images/website-header.png");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-end; /* navbar onderin */
}

/* Navbar */
nav {
    width: 100%;
    background-color: rgba(54, 151, 111, 0.6);
    padding: 15px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links a:hover {
    color: rgb(54, 151, 111);
}

.contact-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 25px;
    background-color: #f8f0f8;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

.contact-form h3 {
    margin-bottom: 10px;
    color: rgb(54, 151, 111);
    text-align: center;
}

.contact-form p {
    text-align: center;
    font-size: 0.95rem;
    margin-bottom: 20px;
}

.contact-form hr {
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid rgb(54, 151, 111);;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form .submit-btn {
    width: 100%;
    background-color: rgb(54, 151, 111);;
    color: white;
    border: none;
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form .submit-btn:hover {
    background-color: #d23585;
}

.recipe-table {
    width: 100%;
    border-collapse: collapse;
}

.recipe-table td {
    padding: 15px;
    vertical-align: top;
    border: none; 
}

.recipe-img {
    width: 150px;
    border-radius: 10px;
    display: block;
}



footer {
    background-color: rgb(54, 151, 111);
    color: white;
    text-align: center;
    padding: 15px 0;
}
