
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%; 
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}


main {
    flex-grow: 1;
    padding: 20px;
}
 main p {
    margin-bottom: 1.5em;
    line-height: 1.6;
 }

header {
    height: 400px;
    background-image: url("images/background-header.png");
    background-size: cover;
    background-position: bottom center;
    position: relative;
}


nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(124, 13, 106, 0.6);
    padding: 15px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links a:hover {
    color: #e40888;
}


footer {
    background-color: #ea4199; 
    color: white;
    text-align: center;
    padding: 15px 0;
}
