
body {
    margin: 0;
}

header {
    height: 400px;
    background-image: url("images/background-header.png"); 
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}

.header-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.header-content p {
    font-size: 1.2rem;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}


nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(124, 13, 106, 0.6);
    padding: 15px;
    
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links a:hover {
    color: #e40888;
}
